html(lang='dk')
    head
        style
            include ../styles/FPStyle.css
        title Cuhrazy Hamburgarh
        h1 DAVO Joke Service
    body
        h3 Se alle vores sjove jokes
            div
                a(href='/jokes')
                    button Se vores jokes 
        h3 Se links til andre folks sjove jokes
            div
                a(href='/api/othersites')
                    button Se links
        h3 Se andre folks sjove jokes
            div
                a(href='/api/otherjokes')
                    button Se andre folks sjove jokes   