html(lang='dk')
    head
        style
            include ../styles/FPStyle.css
        title Cuhrazy Hamburgarh
        h1 DAVO Joke Service
    body
        h3 Se alle vores sjove jokes
            div
                a(href='/jokes')
                    button Se vores jokes 
        h3 Se andre folks sjove jokes
            div
                a(href='/othersites')
                    button Se andres jokes
