html
    title #{title}
    head
        style
            include ../styles/FPStyle.css
        h1 Jokes
    body
        form(action="/jokes", method="post")
            label Setup
            input(type="text", name="setup")
            br
            label Punchline
            input(type="text", name="punchline")
            br
            button(type="submit") Submit joke
        br
        table
         each joke in jokelist
            tr
                td #{joke.setup}
                td#punchline #{joke.punchline}
