html(lang='dk')
    head
        style
            include ../styles/style.css
        h1 Tryk på et link for at få dens jokes
    body
        table
                th Jokes
                    each joke in jokelist
                     tr
                        td #{joke.setup}
                        td#punchline #{joke.punchline}

        //- div penbis
        //- table
        //-  each joke in jokelist
        //-     tr
        //-         td #{joke.setup}
        //-         td#punchline #{joke.punchline}
