html(lang='dk')
    head
        style
            include ../styles/FPStyle.css
        h1 huge gogalog
    body
        div penbis
        //- table
        //-  each joke in jokelist
        //-     tr
        //-         td #{joke.setup}
        //-         td#punchline #{joke.punchline}