html
    Head
        style
            include ../styles/FPStyle.css
        h1 Other sites with good and bad jokes
    body
        table
            tr
                th Site
            each otherSite in registryUrl
                if(otherSite.name)
                    tr
                        td 
                            a(href='/otherjokes/' + otherSite.name) #{otherSite.name}
                            
